.poem-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightblue;
    border-radius: 8px;
}
body{
    background: #f0f0f0;
}
h1{
    text-align: center;
    color: #333;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 35px;
}
.prompt {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}